<% include partials/header %>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <span class="login100-form-title p-b-34">
					<a href="/login" class="txt3">
							Log In
						</a>
				</span>
                <span class="login100-form-title p-b-34">

							OR

				</span>
                <span class="login100-form-title p-b-34">
					<a href="/register" class="txt3">
							Register
						</a>
				</span>

				<div class="login100-more">
                    <h1>Welcome to this simple Authentication system using Passport Js Example</h1>
                </div>
			</div>
		</div>
	</div>
<% include partials/footer %>